<h1>New To Don't Form</h1>

<form method ="POST" action="/todonts">
    <div>
    <label for="description"></label>
    <input type="text" name="description" placeholder="Description">
    </div>
    <br>
    <div>
        <label for="urgent">Urgent:</label>
        <span>yes</span><input type="radio" name="urgent" value="true" checked>
        <span>no</span><input type="radio" name="urgent" value="false">
    </div>
    <br>
    <div>
        <input type="submit" value="Add a new ToDon't">
    </div>
</form>