body{
    font-family: Roboto;
   background-color: #B0F0BB;
}

.pirates{
    text-align: left;
}

li{
    text-align: left;
    text-decoration: none;
}
li a:hover{
    color: purple;
    }

ul {
    color: black;
    text-decoration: none;
    list-style: none;
}