<div>

    {{#each students}}
    <div>
        <span>Student ID: {{this._id}}</span>
        <strong>{{this.name}}</strong>
        <span>Age: {{this.age}}</span>

        <a rel="" href="/students/{{this._id}}">View Student</a>
    </div>
    {{/each}}
 
    <a href="/students/new">Add a New Student</a>

</div>