<main class="img">
	 <h2>Handmade, Fresh, Daily!</h2>

		
		<div>
			{{#each donuts}}


		</div>

			<div class="donut-container">

				{{!-- <<<< DONUT IMAGE HERE >>>> --}}
				{{!-- <div id="img-preview"> --}}
				<img src="{{this.img}}">
				{{!-- </div> --}}

				{{!-- <<<< LINK TO DONUT'S SHOW PAGE, DONUT NAME AS LINK NAME >>>>  --}}
					<h3>  <a href="/{{this._id}}"> {{this.name}}</a>   </h3>

			{{! --  <<<< DONUT PRICE HERE >>>>}}
				<p> {{this.price}} ¢ each </p>

			</div>

		{{!-- <<<< END THE LOOP >>>> --> --}}
	{{/each}}

	<a href="/new">Add a New Donut</a>

</main>
