<h1 class="pirates">Pirates</h1>

<ul>
    {{#each pirates}}
    <li><a href = "./pirates/{{@index}}">{{name}}</a></li>
  <div><a href="/pirates/{{@index}}/edit">Edit</a></div>
    <form action="/pirates/{{@index}}?_method=DELETE" method="POST">
  <input type="submit" value="DELETE"/>
    {{/each}}
</ul>

<a href = "/pirates/new">Add a new Pirate</a>